<div class="row">
  <div class="col">
      <button type="button" class="btn btn-primary">
          Average <span class="badge badge-light">{{summary?.average || 0}} °c</span>
        </button>
  </div>
  <div class="col">
      <button type="button" class="btn btn-primary">
          Highest <span class="badge badge-light">{{summary?.highest || 0}} °c</span>
        </button>
  </div>
  <div class="col">
      <button type="button" class="btn btn-primary">
          Lowest <span class="badge badge-light">{{summary?.lowest || 0}} °c</span>
        </button>
  </div>
  <div class="col">
      <button type="button" class="btn btn-primary">
          Median <span class="badge badge-light">{{summary?.median || 0}} °c</span>
        </button>
  </div>
</div>